[Unit]
Description=AITBC Blockchain RPC API
After=network.target aitbc-blockchain-node.service

[Service]
Type=simple
User=aitbc-blockchain
Group=aitbc-services
WorkingDirectory=/opt/aitbc
Environment=PATH=/usr/bin:/usr/local/bin:/usr/bin:/bin
EnvironmentFile=/etc/aitbc/blockchain.env
EnvironmentFile=/etc/aitbc/node.env
Environment=AITBC_FORCE_ENABLE_BLOCK_PRODUCTION=false
Environment=enable_block_production=false
ExecStart=/opt/aitbc/venv/bin/python /opt/aitbc/apps/blockchain-node/aitbc-blockchain-rpc-wrapper.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=BlockchainRPC
MemoryMax=512M

[Install]
WantedBy=multi-user.target
