[Unit]
Description=AITBC Blockchain RPC API
After=network.target aitbc-blockchain-node.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/aitbc
Environment=PATH=/usr/bin:/usr/local/bin:/usr/bin:/bin
EnvironmentFile=/etc/aitbc/.env
EnvironmentFile=/etc/aitbc/node.env
UnsetEnvironment=enable_block_production ENABLE_BLOCK_PRODUCTION
ExecStart=/opt/aitbc/venv/bin/python /opt/aitbc/scripts/wrappers/aitbc-blockchain-rpc-wrapper.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

