[Unit]
Description=AITBC Load Secrets Service
Before=aitbc-*.service
After=network.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/aitbc
Environment=PATH=/usr/bin:/usr/local/bin:/usr/bin:/bin
EnvironmentFile=/etc/aitbc/.env
EnvironmentFile=/etc/aitbc/node.env
ExecStart=/opt/aitbc/scripts/utils/load-keystore-secrets.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=aitbc-load-secrets
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
